body {
    font-family: $font-secondary;
    color: $color-alt-black;
    font-size: 18px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    line-height: 1.7;
    // background-color: $color-secondary;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-primary;
    color: $color-alt-black;
    font-weight: bold;
    line-height: 1.4;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
}

p {
    font-family: $font-secondary;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.7;
}

.welcome-text {
    line-height: 1.25;
    font-family: $font-primary;
    font-weight: bold;
    font-size: 32px;
    color: $color-alt-white;

    @media (min-width: 320px) {
        font-size: 32px;
    }
    @media (min-width: 576px) {
        font-size:32px;
    }
    @media (min-width: 768px) {
        font-size: 40px;
    }
    @media (min-width: 992px) {
        font-size: 48px;
    }
    @media (min-width: 1024px) {
        font-size: 60px;
    }
    @media (min-width: 1200px) {
        font-size: 60px;
    }
    @media (min-width: 1440px) {
        font-size: 72px;
    }
    @media (min-width: 1960px) {
        font-size: 72px;
    }
}

.welcome-subtitle {
    font-family: $font-secondary;
    font-weight: 300;
    line-height: 1.25;
    font-size: 16px;
    color: $color-alt-white;

    @media (min-width: 320px) {
        font-size: 16px;
    }
    @media (min-width: 576px) {
        font-size: 16px;
    }
    @media (min-width: 768px) {
        font-size: 20px;
    }
    @media (min-width: 992px) {
        font-size: 24px;
    }
    @media (min-width: 1024px) {
        font-size: 30px;
    }
    @media (min-width: 1200px) {
        font-size: 30px;
    }
    @media (min-width: 1440px) {
        font-size: 36px;
    }
    @media (min-width: 1960px) {
        font-size: 36px;
    }
}


.small-line-height {
    line-height: 1.5;
}

.no-underline-link {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.footer-bg {
    background-color: $color-primary-3;
}

#to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 5%;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 12px;
    border-radius: 5px;
    background-color: $color-primary-3;
    opacity: 0.5;

    &:hover {
        background-color: $color-primary-1;
        opacity: 0.5;
    }

}

.carousel-item-header {
    height:30vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @media (min-width: 320px) {
        height: 30vh;
    }
    @media (min-width: 576px) {
        height:30vh;
    }
    @media (min-width: 768px) {
        height: 40vh;
    }
    @media (min-width: 992px) {
        height: 40vh;
    }
    @media (min-width: 1024px) {
        height: 40vh;
    }
    @media (min-width: 1200px) {
        height: 45vh;
    }
    @media (min-width: 1440px) {
        height: 60vh;
    }
    @media (min-width: 1960px) {
        height: 65vh;
    }
  }