$color-primary-1: #ff5039;
$color-primary-2: #87c540;
$color-primary-3: #410f35;
$color-alt-black: #000000;
$color-alt-white: #ffffff;

.color-primary-1 {
    color: #ff5039;
}
.color-primary-2 {
    color: #87c540;
}
.color-primary-3 {
    color: #410f35;
}
.color-alt-black {
    color: #000000;
}
.color-alt-white {
    color: #ffffff;
}