.dropdown-menu {
    border: 0px none #ffffff;
    background-color: rgba(255,255,255,0.5);
    // background-color: $color-muted;

    .dropdown-item {
        padding: 0.1rem 1.25rem;
        &:hover {
            background-color: rgba(210,210,210,0.5);
        }
    }
}

.navbar-default {
    border-color: transparent;
    // background-color: white;

    .navbar-collapse {
        border-color: rgba(255,255,255,.02);
    }
}


.navbar-nav li a {
    text-transform: lowercase;
    font-family: $font-primary;
    font-size: 20px;
    color: $color-primary-1;
    font-weight: 500;
    -webkit-transition: all ease .35s;
    -moz-transition: all ease .35s;
    transition: all ease .35s;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;

    &:hover {
        color: $color-primary-2;
    }

    &:active {
        color: $color-primary-2;
    }
}

.nav-link {
    padding: 0.2rem 1rem;
}

.navbar-trans {
  background: transparent;
}
